.example-full-width {
    width: 80%;
}

.bn {
    margin-left: 10%;
}

.abc {
    text-align: center;
    width: 50%;
    margin: 50px;
    margin-left: 23%;
    border: 1px solid black;
    padding: 10px 0 10px 0;
}