<table align="center" width="50%" border="1">
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Gender</th>
        <th>DOB</th>
        <th>Email</th>
        <th colspan="2">Operations</th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <!-- <tr *ngFor="Let x of data">
        <th>{{x['f-name']}}</th>
        <th>{{x['l-name']}}</th>
        <th>{{x['gender']}}</th>
        <th>{{x['dob']}}</th>
        <th><button>Delete</button></th>
        <th><button>Update</button></th>
    </tr> -->
</table>